<nav id="header" class="fixed w-full">
  <!--Nav-->
  <div
    class="relative w-full z-10 fixed top-0 bg-gray-200 border-b border-grey-light"
  >
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-4"
    >
      <!-- LINKS -->
      <div
        class="w-full flex-grow lg:flex lg:flex-1 lg:content-center lg:justify-start lg:w-auto hidden lg:block mt-2 lg:mt-0 z-20"
        id="nav-content"
      >
        <ul class="list-reset lg:flex justify-start items-center">
          <li class="mr-3 py-2 lg:py-0">
            <a
              class="inline-block py-2 px-4 text-black font-bold no-underline"
              href="#"
              >Show valid only
            </a>
          </li>
          <li class="mr-3 py-2 lg:py-0">
            <a
              class="inline-block text-grey-dark no-underline hover:text-black hover:no-underline py-2 px-4"
              href="#"
              >Recents</a
            >
          </li>
          <li class="mr-3 py-2 lg:py-0">
            <a
              class="inline-block text-grey-dark no-underline hover:text-black hover:no-underline py-2 px-4"
              href="#"
              >Favorites</a
            >
          </li>
          <li class="mr-3 py-2 lg:py-0">
            <a
              class="inline-block text-grey-dark no-underline hover:text-black hover:no-underline py-2 px-4"
              href="#"
              >All</a
            >
          </li>
        </ul>
      </div>

      <!-- SEARCH FIELD -->
      <div class="pl-4 flex items-center">
        <div>
          <div class="mt-2">
            <input
              id="search"
              name="search"
              type="text"
              autocomplete="search"
              placeholder="Search Decks"
              class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            />
          </div>
        </div>

        <div id="search-toggle" class="search-icon cursor-pointer pl-6">
          <svg
            class="fill-current pointer-events-none text-grey-darkest w-4 h-4 inline"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <path
              d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
            ></path>
          </svg>
        </div>
      </div>

      <!-- HAMBURGUER MENU -->
      <div class="pr-4">
        <button
          id="nav-toggle"
          class="block lg:hidden flex items-center px-3 py-2 border rounded text-grey border-grey-dark hover:text-black hover:border-purple appearance-none focus:outline-none"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>



